<ion-header>
  <ion-toolbar>
    <ion-title>{{ "QUIZ_TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-card>
    <ion-card-header>
      Question {{ currentQuestion + 1 }}
    </ion-card-header>
    <ion-card-content>
      {{ questions  [currentQuestion].question }}
      <ion-list>
        <ion-item *ngFor="let option of questions[currentQuestion].options" (click)="checkAnswer(option)">
          {{ option }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->


  <!-- <div class="quiz-question">
    <h2>{{ PoseQuestion }}</h2>
  </div>

  <div class="quiz-answer" (click)="onAnswerClick(item)" [class.selected]="item.isSelected">
    <span class="quiz-answer-text">{{ item.choix }}</span>
  </div> -->
<br> <br> <br> <br>

  <ion-card>
    <ion-card-header>
      <div class="quiz-question">{{ PoseQuestion }}</div>
    </ion-card-header>
    <ion-card-content>
      <div class="quiz-answer" *ngFor="let item of reponses" (click)="onReponseClick(item)">
        <span class="quiz-answer-text">{{ item.choix }}</span>
      </div>
    </ion-card-content>
  </ion-card>
  




</ion-content>
