<ion-header>
  <ion-toolbar>
    <ion-title>{{ "QUIZ_TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 

  
<br> <br> <br> <br>

  <ion-card>
    <ion-card-header>
      <div class="quiz-question">{{ PoseQuestion }}</div>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="progression"></ion-progress-bar>
      <div class="quiz-answer" *ngFor="let item of reponses" (click)="onReponseClick(item)">
        <span class="quiz-answer-text">{{ item.choix }}</span>
      </div>
    </ion-card-content>
  </ion-card>
  




</ion-content>
