<ion-content padding>
  <ion-card class="question-card">
    <ion-card-header>
      <ion-card-title class="polices">Nous envoyer votre Question</ion-card-title>
    </ion-card-header>

    <ion-card-content class="form-content">
      <!-- Utilisez le formulaire dans le HTML -->
      <form [formGroup]="questionForm" (ngSubmit)="submitForm()">
        <!-- Ajoutez des champs du formulaire au besoin -->
        <ion-item class="form-item">
          <ion-label position="floating" class="police">Libellé de la Question</ion-label>
          <ion-input type="text" formControlName="libelleQuestion"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="floating" class="police">Catégorie</ion-label><br><br>
          <ion-select formControlName="categorie" placeholder="Sélectionnez une catégorie" class="police">
            <ion-select-option value="population">Population</ion-select-option>
            <ion-select-option value="culture">Culture</ion-select-option>
            <ion-select-option value="musique">Musique</ion-select-option>
            <ion-select-option value="sport">Sport</ion-select-option>
            <ion-select-option value="organisation">Organisation des ethnies</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="floating" class="police">Niveau</ion-label><br><br>
          <ion-select formControlName="niveau" placeholder="Sélectionnez un niveau" class="police" placeholder="Sélectionnez un niveau" class="police">

              <ion-select-option value="debutant">Débutant</ion-select-option>
              <ion-select-option value="intermediaire">Intermédiaire</ion-select-option>
              <ion-select-option value="expert">professionel</ion-select-option>
              <ion-select-option value="expert">master</ion-select-option>

          </ion-select>
        </ion-item>

        <div class="response-container" formArrayName="reponses">
          <div *ngFor="let reponse of reponses.controls; let i = index" [formGroupName]="i">
            <ion-item class="form-item">
              <ion-label position="floating" class="police">Réponse {{ i + 1 }}</ion-label><br>
              <ion-input type="text" formControlName="choix"></ion-input>
            </ion-item>

            <ion-item class="form-item checkbox-item">
              <ion-label class="police">Correcte?</ion-label>
              <ion-checkbox formControlName="est_correct" slot="start"></ion-checkbox>
            </ion-item>

            <ion-item class="form-item">
              <ion-label position="floating" class="police">Points</ion-label>
              <ion-input type="number" formControlName="points"></ion-input>
            </ion-item>

            <ion-icon (click)="supprimerReponse(i)" name="close-circle"></ion-icon>
          </div>
        </div>
        <ion-button (click)="ajouterReponse()" expand="full" color="success" class="submit-button">Ajouter une réponse</ion-button>


        <!-- Ajoutez d'autres champs du formulaire au besoin -->

        <ion-button type="submit" expand="full" color="success" class="submit-button">Soumettre</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
