<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Résultats</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h2>Votre score :</h2>
        <h1>{{ data.score }} / {{data.taille}}</h1>
      
    </ion-card-content>
  </ion-card>

<ion-button (click)="reload()">recommener</ion-button>
</ion-content> -->

<ion-content>
  <div class="score-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="blanc">Score Final</ion-card-title>
      </ion-card-header>
      <ion-card-content class="button-container">
        <div  class="player-score">
        <p class="blanc">Félicitations ! Vous avez terminé le jeu.</p>
          <h2 class="final-score">{{ data.score }} / {{ data.taille }}</h2>
        </div>
        <div class="score-details">
          <ion-badge color="success">Réponses Correctes: 25</ion-badge><br>
          <ion-badge color="warning">Réponses Incorrectes: 5</ion-badge>
        </div>
        <ion-button expand="full" shape="round" class="custom-button" (click)="reload()">Recommencer</ion-button>
        <ion-button expand="full" shape="round" class="custom-button" href="/home">Retourner à l'Accueil</ion-button>
        <ion-button expand="full" shape="round" class="custom-button">Partager</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>