<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title class="ion-no-border">
      Bienvenue sur notre application !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
 class="ion-padding" class="ion-text-center">
  <!-- <p>Cliquez sur le bouton "Start" pour commencer.</p>
  <ion-button mode="ios" (click)="startFunction()">Start</ion-button> -->

  <ion-row class="buttons" >
    <ion-col size="12">
      <ion-button routerLink="/quiz" color="light" expand="block" class="playButton " (click)="startFunction()"> Start Playing</ion-button>

      <ion-button color="dark" class="helpButton"  >
        <ion-icon></ion-icon> How to play
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
