<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button (click)="toggleAndPlaySound()">
        <ion-icon [name]="isPaused ? 'volume-mute' : 'volume-high'"></ion-icon>
      </ion-button>
      <ion-button (click)="changerLangue('en')">
        <ion-icon name="language-outline"></ion-icon>AN
      </ion-button>

      <ion-button (click)="changerLangue('fr')">
        <ion-icon name="language-outline"></ion-icon>FR
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-border">

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-background">
  <div class="welcome-message ion-text-center">
    <!-- <h1> {{ "Quiz_home" | translate }}</h1><br> <br><br> -->
    <!-- <h1><span *ngFor="let letter of letters">{{ letter }}</span></h1><br> <br><br>  -->
    <h1>
      <span *ngFor="let item of getLettersWithDelay()" style="--n:{{item.delay}}">
        {{ item.char }}
      </span>
    </h1>
    <h2>{{"Quiz_home_question" | translate}}</h2><br>
    <p>{{"Quiz_home_indication"| translate}}</p>
  </div>

  <div class="ion-text-center quiz-buttons">
    <!-- Bouton Jouer -->
    <ion-button color="success" expand="block" class="play-button" (click)="startFunction()">
      <ion-icon name="play-circle-outline"></ion-icon>
      Jouer
    </ion-button>

    <!-- Bouton Comment jouer ? -->
    <ion-button color="medium" class="help-button" id="open-modal">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{"Quiz_home_comment"| translate}}
    </ion-button>

    <!-- Bouton Partager -->
    <ion-button color="tertiary" class="share-button" (click)="shareContent()">
      <ion-icon name="share-social-outline"></ion-icon>
      Partager
    </ion-button>
  </div>



  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <div class="modal-content">
          <h2>{{"Quiz_home_regle1" | translate}}</h2>
          <p>{{"Quiz_home_regle11" | translate}}</p>
          <ul>
            <li><strong>{{"Quiz_home_regle2" | translate}}</strong> {{"Quiz_home_regle21" | translate}}</li>
            <li><strong>{{"Quiz_home_regle3" | translate}}</strong> {{"Quiz_home_regle31" | translate}}</li>
            <li><strong>{{"Quiz_home_regle4" | translate}}</strong> {{"Quiz_home_regle41" | translate}}</li>
            <li><strong>{{"Quiz_home_regle5" | translate}}</strong> {{"Quiz_home_regle51" | translate}}</li>
            <li><strong>{{"Quiz_home_regle6" |translate}}</strong> {{"Quiz_home_regle61" | translate}}</li>
          </ul>
          <p>{{"Quiz_home_regle" | translate}}</p>
          <!-- <ion-button class="close-button">Fermer</ion-button> -->
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Animation ou illustration ludique -->
  <div class="quiz-animation">
    <!-- Vous pouvez intégrer ici une animation ou une image amusante liée au thème du quiz -->
  </div>
</ion-content>
