// ion-header {
//   ion-toolbar {
//     --ion-background-color: transparent;
//   --ion-background-color: linear-gradient(#1D976C, #93F9B9) ;

//     --border-color: transparent;
//   }
// }

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, ion-content {
  font-family: 'Chewy', cursive;
}

.welcome-message h1 span {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  color: #333;
}

.welcome-message h2, .modal-content h2 {
  font-family: 'Bangers', cursive;
  font-size: 2em;
  color: #555;
}

.welcome-message p, .modal-content p, .modal-content li {
  font-family: 'Chewy', cursive;
  font-size: 1.2em;
  color: #666;
}

.quiz-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les boutons */
}

.play-button, .help-button, .share-button {
  --border-radius: 8px; /* Arrondir les bords des boutons */
  --transition: 0.3s; /* Durée de l'animation de transition */
}

.play-button:hover, .help-button:hover, .share-button:hover {
  --transform: scale(1.1); /* Facteur d'agrandissement au survol */
}

.play-button {
  --background: var(--ion-color-success); /* Couleur de fond pour le bouton Jouer */
}

.help-button {
  --background: var(--ion-color-medium); /* Couleur de fond pour le bouton Comment jouer ? */
}

.share-button {
  --background: var(--ion-color-tertiary); /* Couleur de fond pour le bouton Partager */
}

.custom-modal-size {
  --width: 80%;
  --height: 60%;
  background-color: #fff; /* Arrière-plan blanc */
  border-radius: 10px; /* Bords arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
.modal-content {
  padding: 20px;
  line-height: 1.6;
  color: #333; /* Couleur du texte */
}
.custom-modal-content {
  background-color: #fff; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  font-size: 16px; /* Taille de la police */
  /* Ajoutez d'autres styles selon vos besoins */
}

ion-header {
  ion-toolbar {
    --background: linear-gradient( #93F9B9);
    box-shadow: none;
  }
  position: absolute; /* Ajout du point-virgule ici */
}

// .background{
//   --background: url('../../assets/img/ok.png') 0 0/100% 100% no-repeat;
// }

ion-content {
  --ion-background-color: linear-gradient(#1D976C, #93F9B9) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  .buttons {
    position: absolute;
    bottom: 3rem;
    width: 100%;
  }

  .playButton {
    height: 4rem;
    --border-radius: 500px;
    width: fit-content;
    --padding-start: 3rem;
    --padding-end: 5rem;
    margin: 0 auto;
  }

  .helpButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
    opacity: 70%;
    --border-radius: 10rem !important;
    --padding-end: 1.25rem;
  }
}





ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}


@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 span {
  display: inline-block;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: calc(var(--n) * 0.15s);
}
